.history__local_user-link {
    display: inline-block;
    max-width: 543px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #A4A3A4;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -0.4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);;
    padding: 12px 8px;
    cursor: pointer;
  }
.history__localList{
    display: flex;
    flex-direction: column;
    width: 83%;
    padding-left: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    position: absolute;
}
.history__blockoflinkusers{
  position: relative;
}
@media (max-width: 960px) {
    .history__localList{
        max-width: 69.5%;
    }
}
@media (max-width: 480px) {
    .history__localList{
        max-width: 100%;
    }
}
@media (max-width: 320px) {
  .history__localuserlink{
    max-width: 290px;
  }
}